.App {
  font-family: sans-serif;
  text-align: center;
  }
  .cont {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 0;
    background-color: var(--violeta);
    border: none;
  }

  .cont2 {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 0;
    background-color: var(--verde);
    border: none;
  }

  .cont3 {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 0;
    background: rgb(65,15,98);
background: linear-gradient(180deg, rgba(65,15,98,1) 0%, rgba(15,98,65,1) 100%);
    border: none;
  }
  

  :root {
    --verde: #0f6241;
    --violeta: #410f62;
}

body {
    margin: 0;
    padding: 0;
}


.cuadro {
    width: 400px;
    height: 400px;
    display: flex;
    margin: 20px auto;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--verde);
}


.titulo  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

.titulo h1 {
    width: 100%;
    text-align: center;
}
